extends base.pug
block content
    form(
        action=`/items/${data.id}?_method=DELETE`
        method='POST'
    )
        ul
            li=data.item
                ul
                    li=data.price
        button(type='submit') Delete